<!-- <div class="col-8"> -->
<div style="overflow-x:auto;">
  <h3>Booked Tickets List </h3>
  <table class="table table-hover">
   <thead>
    <tr>
     <th>Transaction Id</th>
     <th>PNR Number</th>
     <th>Journey Date</th>
     <th>Train Number</th>
     <th>From</th>
     <th>To</th>
     <th>Booking Date</th>
     <th>Reservation status</th>
     <th>Transaction expense</th>
     <th>Seat Details</th>
    </tr>
   </thead>
   <tbody ng-repeat="ticket in bookTicketDetail">
   <tr>
   	<td>{{ticket.tnsId}}</td>
   	<td>{{ticket.pnrNumber}}</td>
   	<td>{{ticket.dateOfJourney| date}}</td>
   	<td>{{ticket.trainDetail.trainNumber}}</td>
   	<td>{{ticket.fromStation}}</td>
   	<td>{{ticket.toStation}}</td>
   	<td>{{ticket.dateOfBooking| date}}</td>  
   	<td>{{ticket.reservationStatus}}</td> 
   	<td>{{ticket.transactionAmount}}</td>
   	<td>{{ticket.seatDetails}}</td>
   
   </tr>
   </tbody>
  </table>
 </div>