<div class="col-8">
  <h3>Refunded Tickets List </h3>
  <table class="table table-hover">
   <thead>
    <tr>
     <th>Transaction Id</th>
     <th>PNR Number</th>
     <th>Train Number</th>
     <th>Transaction amount</th>
     <th>Refund status</th>
     <th>Refund amount</th>
     <th>refunded by Bank</th>
     <th>Refunded date</th>
    </tr>
   </thead>
   <tbody ng-repeat="rd in refundDetails">
   <tr>
   	<td>{{rd.cancelledTicketDetail.transactionDetail.tnsId}}</td>
   	<td>{{rd.cancelledTicketDetail.transactionDetail.pnrNumber}}</td>
   	<td>{{rd.cancelledTicketDetail.transactionDetail.trainDetail.trainNumber}}</td>
   	<td>{{rd.cancelledTicketDetail.transactionDetail.transactionAmount}}</td>   	
   	<td>{{rd.refundStatus}}</td>
   	<td>{{rd.cancelledTicketDetail.refundAmount}}</td>
   	<td>{{rd.bank}}</td>
   	<td>{{rd.refundDate | date}}</td>
   
   </tr>
   </tbody>
  </table>
 </div>