<div style="border: 1px solid #aaaaaa;">
<div style="overflow-x:auto;">
<h4 style="background-color: #0b413e;
	border: 1px solid #20b2aa;
	border-radius: 5px;
	color: white;
	text-align: center;"> Availability train number: {{trainNumber}}, Class: {{coach}}</h4>
<table>

<thead>
	<tr>
		<th>Date</th>
		<th>{{todaysDate}}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>Availability		</td>
		<td>{{seatsAvailable}}<br><a href="#" >Book now</a></td>
	</tr>
</tbody>

</table>
</div>


<div style="overflow-x:auto;">
<h4 style="background-color: #0b413e;
	border: 1px solid #20b2aa;
	border-radius: 5px;
	color: white;
	text-align: center;"> Train fare number: {{trainNumber}}, Class: {{coach}}, Date :{{todaysDate}}</h4>
<table>

<thead>
	<tr>
		<th>Base fare</th>
		<th>Other charges</th>
		<th>Total fare </th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>{{}}		</td>
		<td>0</td>
		<td>{{}}</td>
	</tr>
</tbody>

</table>
</div>
</div>