<div class="container defaultbody">
	<h1 id="trs-main-heading">Train Reservation System</h1>



	<a
		style="color: blue; position: absolute; top: 18px; right: 16px; font-size: 18px;"
		href="../htmlFile/index.html">Home</a>

	<h2 style="color: blue; text-align: center;">E-Ticket</h2>
</div>