<div class="container">
<div class="row">
	<div class="col-4 gridColumn" ng-show="basicUserdetails">
	<!-- <div class="defaultbody" ng-show="true"> -->
	<form name="fetchDetailsForm" class="form-horizontal">
		<h4 style="color: red">{{errormsg}}</h4>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>User Id</b></label> 
			<div class="col-sm-6"> <input type="text" class="form-control" 
				placeholder="Enter User Id" name="userId" ng-model="userId" required><span
				style="color: red" ng-show="fetchDetailsForm.userId.$dirty">
				<span ng-show="fetchDetailsForm.userId.$error.required">User
					ID is required.</span>
			</span><br>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>Type Captcha</b></label>
			<div class="col-sm-6">
			<input id="txtInput" class="form-control"  ng-model="enteredCptchCode" name="cptchCode" required /><br> <br> <input
				type="text" class="form-control"  id="txtCaptcha"  ng-disabled="true" />
			<!-- </div>
			<div class="col-sm-offset-2 col-sm-10"> -->
			<button type="button" id="btnrefresh" value="Refresh"
				class="btn btn-primary " onclick="getCaptcha();">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			</div>
		</div>
		<br> <br> <br>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
<!-- style="padding: 5px 35px; text-align: center; position: relative; left: 100px;" -->
			<button type="submit"
			
			ng-disabled="fetchDetailsForm.userId.$invalid || fetchDetailsForm.cptchCode.$invalid"
			ng-click="fetchUserDetails(userId);" class="btn btn-primary">Fetch
			Details</button>
			</div>
		</div>
	</form>
	</div>
	
	<!-- <div class="defaultbody" ng-show="true" > -->
	
	<div class="col-6 gridColumn" ng-show="userdetails">
	<form name="passwordChangeForm" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2"><b>User Id : </b> </label>
			<div class="col-sm-6"> <span>{{userDetail.userId}}</span>
			<br>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>Security question :</b></label>
			<div class="col-sm-6"> <span>{{userDetail.securityQuestion}}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2"><b>Security Answer</b></label> 
			<div class="col-sm-6"> <input type="text" class="form-control" 
				placeholder="Enter Security Answer" name="securityAnswer"
				ng-model="securityAnswer" required> <span style="color: red"
				ng-show="passwordChangeForm.securityAnswer.$dirty && passwordChangeForm.securityAnswer.$invalid">
				<span ng-show="passwordChangeForm.securityAnswer.$error.required">Security
					Answer is required.</span>
			</span> <br>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>New Password</b></label>
			<div class="col-sm-6"><input type="password" class="form-control" 
				placeholder="Enter Password" name="userPassword"
				ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
				ng-model="userPassword" required> <span style="color: red"
				ng-show="passwordChangeForm.userPassword.$dirty && passwordChangeForm.userPassword.$invalid">
				<span ng-show="passwordChangeForm.userPassword.$error.required">Password
					is required.</span> <span
				ng-show="passwordChangeForm.userPassword.$error.pattern">Password
					should be atleast 8 characters long and should contain one
					number,one character and one special character</span>
			</span><br>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>Confirm Password</b></label>
			<div class="col-sm-6"><input type="password" class="form-control" 
				placeholder="Confirm Password" name="confirmUserPassword"
				ng-model="confirmUserPassword" required> <span
				style="color: red"
				ng-show="passwordChangeForm.confirmUserPassword.$dirty && passwordChangeForm.confirmUserPassword.$invalid">
				<span
				ng-show="passwordChangeForm.confirmUserPassword.$error.required">Reentered
					Password is required.</span>
			</span><br>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"><b>Type Captcha</b></label>
			<div class="col-sm-6">
			<input id="txtInput" class="form-control" ng-model="enteredCaptchCode2" name="captchCode" required /><br> <br> <input
				type="text" class="form-control" id="txtCaptcha2"  ng-disabled="true" />
		
			<button type="button" id="btnrefresh" value="Refresh"
				class="btn btn-primary" onclick="getCaptcha();">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			</div>
		</div>		
			<br> <br> 
			<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
		<button type="submit"
			ng-disabled="passwordChangeForm.userPassword.$invalid || 
				 passwordChangeForm.confirmUserPassword.$invalid || 
				passwordChangeForm.securityAnswer.$invalid ||
				passwordChangeForm.captchCode.$invalid"
			ng-click="changePassword();" class="btn btn-primary">submit</button>
			</div>
			</div>
		</form>
	</div>
</div>
</div>