<div class="container">
<!-- <li><a ui-sref="home">Home</a></li> -->
<div class="row">
	<div class="col-6 gridColumn">

		<h3 id="auheader">Alerts and Update</h3>
		<marquee direction="up" onmouseover="this.stop();"
			onmouseout="this.start();" style="font-size: 12px;">
			<h3 ng-repeat="alertsAndUpdate in alertsAndUpdateDetails">
				{{alertsAndUpdate.alertAndUpdateInfo}}</h3>
		</marquee>
	</div>
	<div class="col-5 gridColumn">
		<h3 id="auheader">Login</h3>
		<h4 style="color: red">{{errormsg}}</h4>
		<form name="loginForm">
			<div class="form-group">
				<label><b><span class="glyphicon glyphicon-user"></span> User Id:</b></label> <input type="text"
					class="form-control" placeholder="Enter UserId" name="userId"
					ng-model="userId" required/> <span style="color: red"
					ng-show="loginForm.userId.$dirty && loginForm.userId.$invalid">User Id
					is required! </span>
			</div>
			<div class="form-group">
				<label><span class="glyphicon glyphicon-asterisk"></span> Password:</label> <input type="password"
					class="form-control"  name="userPwd" ng-model="userPassword"
					placeholder="Enter password" required> <span	style="color: red" 
					ng-show="loginForm.userPwd.$dirty && loginForm.userPwd.$invalid">Password
					is required!</span>
			</div>
			
			<div class="form-group">
				<label><b>Captcha </b></label><input id="txtInput" class="form-control" 
					ng-model="enteredCptchCode" name="cptchCode" required /><br> <br> 
					<input	type="text" class="form-control" id="LoginCaptcha"  disabled/>

				<button type="button" id="btnrefresh" value="Refresh"
					class="btn btn-primary" onclick="getCaptcha();">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</div>
			<br> <br> <br>
			<button type="submit"
				style="padding: 5px 35px; text-align: center; position: relative;"
				ng-disabled="loginForm.userId.$invalid || loginForm.userPwd.$invalid || loginForm.cptchCode.$invalid"
				ng-click="loginUser();" class="btn btn-primary">Login</button>
			<div class="form-group">
			<br><br> <input type="checkbox">	Request OTP
			</div>

			<br> <a href="#!mhome/forgetPassword">Forget Password</a> <br> <a
			href="#!signUp">Sign up</a>
			</form>
	</div>
</div>
</div>
