<div>
<nav class="navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<p class="navbar-brand">Train reservation system</p>
			</div>
			<!-- /.navbar-header -->

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">User Guide<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a target="_blank"
								href="../htmlFile/userRegistration.html">User Registration
									Guide</a></li>
							<li><a target="_blank" href="../htmlFile/bookEticket.html">Booking
									e-ticket Guide</a></li>
							<li><a target="_blank" href="../htmlFile/eticketCancel.html">Canceling
									e-ticket Guide</a></li>
						</ul></li>
					<li><a target="_blank"
						href="../pdfFile/InsuranceTermCondition.pdf">Travel Insurance</a></li>


					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Accommodation<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a target="_blank" href="https://www.trivago.in">Hotel
									& Lounge</a></li>
						</ul></li>


					<li><a target="_blank"
						href="../pdfFile/ForeignTouristQuotaBooking.pdf">Foreign
							Tourist Quota</a></li>



				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a ui-sref=".home">Home</a></li>
					<li><a target="_blank" ui-sref="trsContact"
						>Contact us</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse

			ui-view  -->
		</nav>
		<div ui-view></div>
		
</div>