<div>
<div class="container defaultbody"   align-items= "center" justify-content= "center">
<h2>You have successfully registered!</h2>

		<h4><a href="#!/home">click here</a> to login</h4>
	</div>
</div>