<div class="container">
	<form class="form-horizontal" name="myForm" >
		<h4 style="text-align: center; position: relative;">User
			Registration Form</h4>
		<div class="form-group">
			<label class="control-label col-sm-3">
			<span	class="glyphicon glyphicon-user"></span> User Id</label>
			<!-- added now  ng-minlength="3" ng-maxlength="8" -->
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Enter User Id" name="userId"
					ng-model="userId" ng-minlength="3" ng-maxlength="8"
					ng-keyup="checkUserExistance($event)" required> <span
					style="color: #0b413e;">{{userExistance}}&nbsp;</span> <span
					style="color: red"
					ng-show="myForm.userId.$dirty && myForm.userId.$invalid"> <span
					ng-show="myForm.userId.$error.minlength">User Id should be
						atleast 3 character</span> <span ng-show="myForm.userId.$error.maxlength">User
						Id should not be more than 8 character</span> <span
					ng-show="myForm.userId.$error.required"> User ID is
						required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b><span
					class="glyphicon glyphicon-asterisk"></span> Password</b></label>
			<div class="col-sm-6">
				<input type="password" class="form-control" placeholder="Enter Password"
					name="userPassword"
					ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
					ng-model="userPassword" required> <span style="color: red"
					ng-show="myForm.userPassword.$dirty && myForm.userPassword.$invalid">
					<span ng-show="myForm.userPassword.$error.required">Password
						is required.</span> <span ng-show="myForm.userPassword.$error.pattern">Password
						should be at least 8 characters long and should contain one
						number,one character and one special character</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Confirm Password</b></label>
			<div class="col-sm-6">
				<input type="password" class="form-control" placeholder="Confirm Password"
					name="confirmUserPassword" ng-model="confirmUserPassword" required>
				<span style="color: red"
					ng-show="myForm.confirmUserPassword.$dirty && myForm.confirmUserPassword.$invalid">
					<span ng-show="myForm.confirmUserPassword.$error.required">Re
						entered Password is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Security
					Question</b></label>
			<div class="col-sm-6">
				<select ng-model="securityQuestion" class="form-control" 
					ng-options="sq.securityQuestion for sq in securityQuestions">
				</select> <br> <span style="color: red"
					ng-show="myForm.securityQuestion.$dirty && myForm.securityQuestion.$invalid">
					<span ng-show="myForm.securityQuestion.$error.required">Security
						question is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Security Answer</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Enter Security Answer"
					name="securityAnswer" ng-model="securityAnswer" required> <span
					style="color: red"
					ng-show="myForm.securityAnswer.$dirty && myForm.securityAnswer.$invalid">
					<span ng-show="myForm.securityAnswer.$error.required">Security
						Answer is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>First Name</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Enter First Name" name="firstName"
					ng-model="firstName" ng-pattern="/^[a-zA-Z]*$/" required> <span
					style="color: red"
					ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
					<span ng-show="myForm.firstName.$error.pattern">Only Alphabet</span>
					<span ng-show="myForm.firstName.$error.required">First
						Name is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Last Name</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Enter Last Name" name="lastName"
					ng-model="lastName" ng-pattern="/^[a-zA-Z]*$/" required> <span
					style="color: red"
					ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">
					<span ng-show="myForm.lastName.$error.pattern">Only Alphabet</span>
					 <span ng-show="myForm.lastName.$error.required">Last
						Name is required.</span>
				</span> 
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Gender</b></label>
			<div class="col-sm-6">
				<input type="radio" name="gender" ng-model="gender" value="male"
					required> Male <input type="radio" name="gender"
					ng-model="gender" value="female"> Female <span
					style="color: red"
					ng-show="myForm.gender.$dirty && myForm.gender.$invalid"> <span
					ng-show="myForm.gender.$error.required">Gender is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Date Of Birth</b></label>
			<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="dob" name="dateOfBirth"
					ng-model="dateOfBirth" required> <span style="color: red"
					ng-show="myForm.dateOfBirth.$dirty && myForm.dateOfBirth.$invalid">Invalid date of birth
					<span ng-show="myForm.dateOfBirth.$error.required">Date Of
						Birth is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Email</b></label>
			<div class="col-sm-6">
				<input type="email" class="form-control" placeholder="Email Id" name="email"
					ng-model="emailId" required> <span style="color: red"
					ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span
					ng-show="myForm.email.$error.required">Email is required.</span> <span
					ng-show="myForm.email.$error.email">Invalid email address.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<!-- remaining to add: ng-pattern="/^[0-9]*$/" -->
			<label class="control-label col-sm-3"><b>Mobile Number</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="mobile number" name="mob"
					pattern="[789][0-9]{9}" ng-model="mobileNumber" required> <span
					style="color: red"
					ng-show="myForm.mob.$dirty && myForm.mob.$invalid">
					<span ng-show="myForm.mob.$error.pattern">Only Number</span>
					<span ng-show="myForm.mob.$error.required">Mobile
						Number is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Nationality</b></label>
			<div class="col-sm-6">
				<select class="form-control" ng-model="nationality" name="nationality" 
					ng-options="c.countryName for c in countries"
					ng-change="getState()">
				</select> <span style="color: red"
					ng-show="myForm.nationality.$dirty && myForm.nationality.$invalid">
					<span ng-show="myForm.nationality.$error.required">Nationality
						is required.</span>
				</span>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Flat/street/Area</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="complete address" name="completeAdd"
					ng-model="completeAdd" required> <span style="color: red"
					ng-show="myForm.completeAdd.$dirty && myForm.completeAdd.$error.required">Flat/street/Area
						is required.</span>
				
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>Country</b></label>
			<div class="col-sm-6">
				<select class="form-control" ng-model="selectedCountry"
					ng-options="c.countryName for c in countries"
					ng-change="getState()">
				</select> <span style="color: red"
					ng-show="myForm.country.$dirty && myForm.country.$invalid">
					<span ng-show="myForm.country.$error.required">Country is
						required.</span>
				</span> 
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3"><b>State</b></label>
			<div class="col-sm-6">
				<select name="state" class="form-control" ng-model="selectedStateId"
					ng-change="getCity()" required>
					<option ng-repeat="state in stateDetails" value="{{state.stateId}}">{{state.stateName}}</option>
				</select> <span style="color: red"
					ng-show="myForm.state.$dirty && myForm.state.$invalid"> <span
					ng-show="myForm.state.$error.required">State is required.</span>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3"><b>City</b></label>
			<div class="col-sm-6">
				<select name="city" class="form-control" ng-model="selectedCity" required>
					<option ng-repeat="city in cityDetails" value="{{city.cityId}}">{{city.cityName}}</option>
				</select> <span style="color: red"
					ng-show="myForm.city.$dirty && myForm.city.$invalid"> <span
					ng-show="myForm.city.$error.required">City is required.</span>
				</span> 
			</div>
		</div>




		<div class="form-group">
			<label class="control-label col-sm-3"><b>Pin Code</b></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Pin code" name="pnc"
					ng-model="pincode" required ng-pattern="/^[0-9]*$/"> <span
					style="color: red"
					ng-show="myForm.pnc.$dirty && myForm.pnc.$invalid"><span
					ng-show="myForm.pnc.$error.required">Pin Code is required.</span>
					<span	ng-show="myForm.pnc.$error.pattern">Only Number.</span>
				</span>
				
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3"><b>Type Captcha</b></label>
			<div class="col-sm-6"> <input id="txtInput" class="form-control" 
				ng-model="enteredCptchCode" required /><br><input class="form-control" 
				type="text" id="txtCaptcha" name="cptchCode" ng-disabled="true" />

			<button type="button" id="btnrefresh" value="Refresh"
				class="btn btn-primary" onclick="getCaptcha();">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			</div>
		</div>
<!-- ng-model="submit" ng-if="submit" -->
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6">
				<button type="submit" 
					ng-disabled="myForm.userId.$invalid || myForm.userPassword.$invalid || 
				 myForm.confirmUserPassword.$invalid ||	myForm.securityQuestion.$invalid || 
				myForm.securityAnswer.$invalid || myForm.firstName.$invalid || 
				myForm.lastName.$invalid || myForm.gender.$invalid || 
				myForm.dateOfBirth.$invalid || myForm.mob.$invalid || 	
				 myForm.nationality.$invalid || myForm.completeAdd.$invalid || 
				myForm.country.$invalid || myForm.state.$invalid || 
				 myForm.city.$invalid || myForm.pnc.$invalid || disableSubmit"
					class="btn btn-default" ng-click="saveUser() && myForm.$valid">Register</button>
			</div>
		</div>
	</form>
</div>








