<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {
    /*$scope.countries = [
        {id : 1, countryName : "India"},
        {id : 2, countryName : "USA"},
        {id : 3, countryName : "UK"}
    ];*/
	$scope.countries=[];
	var getCountry=function(){
		var res = $http.get('http://localhost:8080/getcountries');
		res.then(function(response){
			$scope.countries = response.data;
			console.log($scope.countries );
			console.log("status:" + response.status);
		});
		/*res.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		}); */ 
	}
	getCountry();
	
	$scope.states = [
        {id : 1, stateName : "Maharashtra", cid : 1},
        {id : 2, stateName : "Telangana", cid : 1},
        {id : 3, stateName : "UP", cid : 1},
		{id : 4, stateName : "New York", cid : 2},
		{id : 5, stateName : "California", cid : 2},
		{id : 6, stateName : "England", cid : 3}
    ];
	
	$scope.cities = [
        {id : 1, cityName : "Pune", sid : 1},
		{id : 2, cityName : "Mumbai", sid : 1},
		{id : 3, cityName : "Hyderabad", sid : 2},
		{id : 4, cityName : "Lucknow", sid : 3},
		{id : 5, cityName : "Kanpur", sid : 3},
		{id : 6, cityName : "Thane", sid : 1},
		{id : 7, cityName : "Lake Placid", sid : 4},
		{id : 8, cityName : "New York city", sid : 4},
		{id : 9, cityName : "Los Angeles", sid : 5},
		{id : 10, cityName : "San Francisco", sid : 5},
		{id : 11, cityName : "London", sid : 6},
		{id : 12, cityName : "Manchester", sid : 6}
    ];
	
	$scope.states2=[];
	
	$scope.cities2 = [];
	/*for(s in $scope.states){
	console.log(s);
		//if(s.cid==$scope.selectedCountry.id){
		if(s.cid==1){
			$scope.states2.push(s);
			console.log("in if");
			console.log($scope.states2);
		}
	}*/
	
	$scope.selectStates=function(){
	console.log("inside function");
	
	if($scope.states2.length!= 0){
	console.log("$scope.states2 is not empty");
	console.log($scope.states2);
	$scope.states2=[];
	}
	/*
	
	if($scope.states.length== 0){
	console.log("$scope.states is empty");
	console.log($scope.states);
	}*/
	for(s in $scope.states){
		
		//if(s.cid==$scope.selectedCountry.id){
		if($scope.states[s].cid==$scope.selectedCountry.id){
			
				$scope.states2.push($scope.states[s]);
				console.log("in if");
				console.log($scope.states2);
				
		}
	}
	console.log($scope.states2);
	
	}
	
	
	
	$scope.changeState=function(){
	console.log("inside  changeState function");
	
	if($scope.cities2.length!= 0){
	console.log("$scope.cities2 is not empty");
	console.log($scope.cities2);
	$scope.cities2=[];
	}
	
	for(c in $scope.cities){
		
		if($scope.cities[c].sid==$scope.selectState.id){
			
				$scope.cities2.push($scope.cities[c]);
				console.log("in if");
				console.log($scope.cities2);
				
		}
	}
	
	
	}
});
</script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>Select a country:</p>

<select ng-model="selectedCountry" ng-options="c.countryName for c in countries" 
ng-change="selectStates()" >
</select>

<h1>You selected: {{selectedCountry.countryName}}</h1>
<p>Its ID is: {{selectedCountry.id}}</p>



<p>Select a state:</p>

<select ng-model="selectState" ng-options="s.stateName for s in states2" ng-change="changeState()">
</select>

<h1>You selected: {{selectState.stateName}}</h1>
<p>Its ID is: {{selectState.id}}</p>
<p>Its country ID is: {{selectState.cid}}</p>



<p>Select a city:</p>

<select ng-model="selectCity" ng-options="c.cityName for c in cities2">
</select>

<h1>You selected: {{selectCity.cityName}}</h1>
<p>Its ID is: {{selectCity.id}}</p>
<p>Its state ID is: {{selectCity.sid}}</p>

</div>


</body>
</html>
