
<style>
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

.menu2 {
background-color: #0099cc;
margin: 5px;
font-size: 20px;
}
</style>

<div class="header">
  <h1>Chania</h1>
</div>

<div class="menu2">
  <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" style="color: white;">
    marquee article
	</marquee>
</div>

<div class="row">

<div class="col-3 menu">
  <ul>
    <li>The Flight Chania is the capital o</li>
    <li>The City</li>
    <li>The Island</li>
    <li>The Food</li>
  </ul>
</div>

<div class="col-9">
  <h1>The City</h1>
  <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>
</div>

<div class="row">

<div class="col-3">
 <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" style="font-size: 12px;">
    
 </br></br>
   This text will scroll from bottom to top sjad jdanksd jxdasojd ndosia
  </br></br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id </p>
  </br></br>
<p>	felis et augue sagittis euismod quis at sem. Nunc sit amet magna ac velit congue 
	</p>
	
  </marquee>
</div>

<div class="col-9">
  <h1>The City</h1>
  <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>

</div>
